<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>Econaut</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Prata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
<div class='top-container'>
	<h1>Econaut</h1>
	<h2>Select a vehicle to see how eco-friendly it is!</h2>
</div>
<div class='car-tile-1'>
	<h3>2013 BMW 328i</h3>
	<img class='bmw-328i' src="public/images/2013.bmw.328i.png"  alt="2013 BMW 328i-img">
</div>
</body>
</html>
