<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Econaut</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Prata&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href = "bootstrap-theme.css" rel= "stylesheet">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

	<body>
		<div class="container">

	<div class='top-container'>
		<h1>Econaut</h1>
		<h2>Select a vehicle to see how eco-friendly it is!</h2>
	</div>

	<div class='whole-tile'>
		<div class='car-tile' id="bmw">
		<img class="car" src="../public/images/2013-bmw-328i.png"  alt="2013 BMW 328i-img">
		</div>
		<h3><a href="Productpage.html">2013 BMW 328i</a></h3>
	</div>

	<div class="whole-tile">
		<div class='car-tile' id="prius">
		<img class="car" src="/public/images/2021.toyota.prius.png"  alt="2013 BMW 328i-img">
		</div>
		<h3>2021 Toyota Prius</h3>
	</div>

	<div class='whole-tile'>
		<div class='car-tile' id="civic">
		<img class="car" src="/public/images/2016.honda.civic.png"  alt="2013 BMW 328i-img">
		</div>
		<h3>2016 Honda Civic</h3>
	</div>

	<div class='whole-tile'>
		<div class='car-tile' id="bmw">
		<img class="car" src="/public/images/2015.jeep.wrangler.png"  alt="2013 BMW 328i-img">
		</div>
		<h3>2015 Jeep Wrangler</h3>
	</div>

	<div class='whole-tile'>
		<div class='car-tile' id="bmw">
		<img class="car" src="/public/images/2018.toyota.camry.png"  alt="2013 BMW 328i-img">
		</div>
		<h3>2018 Toyota Camry</h3>
	</div>

	<div class='whole-tile'>
		<div class='car-tile' id="bmw">
		<img class="car" src="/public/images/2019.tesla.model.s.png"  alt="2013 BMW 328i-img">
		</div>
		<h3>2019 Tesla Model S</h3>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
