<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="preconnect" href="https://fonts.gstatic.com">
  	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300;400&family=Prata&display=swap" rel="stylesheet">
  	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href = "/css/bootstrap-theme.css" rel="stylesheet">
  	<link rel="stylesheet" href="/css/styles.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon -->

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Econaut</h1>
        </div>

    </div>

    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>

    <input type="button" onclick="location.href='/';" value="Login"/>
    
</body>
</html>