h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.car-tile {
  background-color: #efefef;
  max-width:20em ;
  border-radius: 10%;
  display: block;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  justify-content: center;

}

.car-tile-hidden{
  
  max-width:20em ;
  border-radius: 10%;
  display: none;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;

}

.whole-tile {
  padding-bottom: 20px;
  display: block;
  margin:0 auto;
  text-align: center;

}

.car-tile h3 {
  text-align: center;
  font-size: 1rem;
}

.car {
  width: 150px;
  display: grid;
  margin:0 auto;
  text-align: center;

}

.product{
  margin: 50px;
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #5e5e5e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #2b2a68;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.comparisonimg{
  margin: 1em;
  max-width: 85%;
}

/*
.hidden {
  /* display: none; 
} 
*/

.test2 {
  display: none;
  margin: 1em;
  text-align: center;
  max-width: 85%;
}

.testlink {
  max-width: 85%;
}

.jumbotron {
  text-align: center;
}


.img{
  max-width: 20em;
}

b {
  font-weight:bolder;
  font-size: 1.2em;
}

.dark-mode {
  background-color: 313131;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 15%;

}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: 8%;
 
  
  }

  .wrapper-hidden{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 8%;
  }

 
}

.wrapper-hidden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 40%;

}