h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.car-tile {
  background-color: #C4C4C4;
  width: 152px;
  height: 152px;
  display: block;
  margin:0 auto;
  text-align: center;

}

.whole-tile {
  padding-bottom: 20px;
  display: block;
  margin:0 auto;
  text-align: center;

}

.car-tile h3 {
  text-align: center;
  font-size: 1rem;
}

.car {
  width: 150px;
  display: block;
  margin:0 auto;
  text-align: center;

}

.product{
  margin: 50px;
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #5e5e5e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #2b2a68;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.comparisonimg{
  margin: 1em;
  max-width: 85%;
}

.hidden {
  /* display: none; */
}

.test2 {
  display: none;
  margin: 1em;
  text-align: center;
  max-width: 85%;
}

.testlink {
  max-width: 85%;
}

.jumbotron {
  text-align: center;
}
